.cimg:hover img{
    transform: scale(1.05); 
transition: 0.8s ease-in-out;
transform-style:preserve-3d;
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #f4d03f; /* Hover color for links */
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }

  footer .row > div {
    margin-bottom: 1rem;
  }
}

  