.register-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero4-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('/src/pages/ReactImg/regbg.jpeg') center/cover;
  height:580px;
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #f4d03f; /* Add hover effect for footer links */
}

@media (max-width: 576px) {
  footer .row > div {
    text-align: center;
    margin-bottom: 1rem;
  }
}
#plog{
  color: #0d6efd; 
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}